{% extends 'base.html.twig' %}

{% block title %}Ajout de compte{% endblock %}

{#{% block user %}Test{% endblock %}#}

{% block page_title %}Ajout de compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="text-center contenu">
                <a class="btn btn-default" href="{{ path('ajout_compte', {'type': "apprenti"}) }}">Ajouter un Apprenti</a>
                <a class="btn btn-default" href="{{ path('ajout_compte', {'type': "cfa"}) }}">Ajouter un CFA</a>
            </div>
        </div>
    </div>
{% endblock %}