
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Esuivi IUT{% endblock %}

{% block body %}
<center>
    <img src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png">
    <h1>Plateforme de suivi IUT Paris 13</h1>
    <a class="btn btn-primary" href="/suivi/">Accès suivi</a>
</center>

{% endblock %}
