
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Esuivi IUT{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="container">
        <center>
            <img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png">
            <h1>Plateforme de suivi IUT Paris 13</h1>
            {% if is_granted('ROLE_IUT') or is_granted('ROLE_CFA')%}
                <a class="btn btn-primary" href="{{ path('liste') }}">Liste Apprentis</a>
            {% elseif is_granted('ROLE_APPRENTI') %}
                <a class="btn btn-primary" href="{{ path('suiviPerso') }}">Suivi dossier</a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('page_logauto') }}">Connexion</a>
            {%- endif %}
        </center>
    </div>

{% endblock %}
