
{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    {%- autoescape false -%}
        Esuivi-IUT - Réinitialisation de mot de passe
    {%- endautoescape -%}
    {% endblock %}

{% block body_html %}

    {% embed '@templates/email/template.html.twig' %}

        {% block titre %}Réinitialisation de mot de passe{% endblock %}

        {% block texte %}
            {% autoescape false %}
            <p>Bonjour {{ user.prenom }},</p>

            <p>Pour réinitialiser votre mot de passe, merci de suivre ce <a href="{{ confirmationUrl }}">lien</a>.</p>

            {% endautoescape %}
        {% endblock %}
    {% endembed %}

{% endblock %}


{% block body_text %}
{% autoescape false %}
<p>Bonjour {{ user.prenom }},</p>
<p>Pour réinitialiser votre mot de passe, merci de suivre ce <a href="{{ confirmationUrl }}">lien</a>.</p>
{% endautoescape %}
{% endblock %}