{% extends 'base.html.twig' %}

{% block body %}
    <center>
        <h1>Accès interdit</h1>
        <p>
            Vous n'êtes pas autorisé à accéder à cette page. ({{ status_text }})
        </p>
        <p><a class="btn btn-default" href="{{ path('home') }}">Accueil</a></p>
    </center>
{% endblock %}