
{# {% extends 'base.html.twig' %}

{% block title %}Page de suivi{% endblock %}

{% block body %}
<center>
    <h1>Suivi de {{ nom }}</h1>
</center>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Page de suivi{% endblock %}

{% block body %}

<div class="container">
<div class="row ligne">
  <div class="col-xs-12 contenu">
    <div class="col-xs-12 col-sm-2">
      <div class="etape etape-valide">
        <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
        <p>Tache 1</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <div class="etape etape-valide">
        <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
        <p>Tache 2</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <div class="etape etape-valide">
        <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
        <p>Tache 3</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <div class="etape etape-actuelle">
        <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
        <p>Tache 4</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <div class="etape">
        <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
        <p>Tache 5</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <div class="etape">
        <div class="cercle center-block"><img class="img-responsive" src="https://iutv.univ-paris13.fr/wp-content/uploads/2015/11/IUT-villetaneuse.png" alt=""/></div>
        <p>Tache 6</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
