<h3>Relance validation étape</h3>

<p>Bonjour {{ user.prenom }},</p>

<p>Vous avez une étape en cours à valider. Tant que vous ne la validez pas, votre dossier ne peut pas avancer.</p>

<p>Pour accéder à votre dossier et valider cette étape, suivez ce <a href="{{ absolute_url(path('suivi_perso')) }}">lien</a>.</p>